img {
  border-radius: 50%;
}

.sticky-1 {
  position: sticky;
  bottom: 0;
  z-index: -2;
}

.sticky-2 {
  position: sticky;
  bottom: 0;
  z-index: -3;
}

.sticky-3 {
  position: sticky;
  bottom: 0;
  z-index: -4;
}

.sticky-4 {
  position: sticky;
  bottom: 0;
  z-index: -5;
}

