<div #aboutContainer class="viewport-container bg-dark-blue sticky py-5" fxLayout="column" fxLayoutAlign="center center">
  <div class="container" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="40px">
    <img fxFlex.lt-sm="40%" fxFlex.lt-md="35%" fxFlex.lt-lg="20%" fxFlex="18%" src="assets/images/profile.jpg"
      class="img-fluid" alt="profile picture">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div class="pb-3">
        <h1 class="display-4 text-danger pb-3">Who I am?</h1>
        <p>My name is Santiago, I am 23 years old and I am living in Medellín, Colombia. I have always been a technology
          enthusiast, and thanks to that, I have become a software developer.</p>
        <p>I have excellent skills in programming, computer science and mathematics. I perform very good in teamwork;
          I am a responsible person, and I am always open to new learnings.</p>
      </div>
      <small class="fst-italic">If you want to know more about me, you can see my Curriculum Vitae:</small>
      <div class="btn-group pt-3" role="group" aria-label="CVButtonGroup">
        <button type="button" class="btn btn-outline-light">Spanish CV</button>
        <button type="button" class="btn btn-outline-light">English CV</button>
      </div>
    </div>
  </div>
  <div class="container pt-5">
    <h1 class="display-6 text-danger">What can you expect from me?</h1>
    <div class="row justify-content-center pt-5">
      <div class="col-3 pe-4 text-end">
        <h1 class="display-6 mb-0">Responsibility</h1>
      </div>
      <div class="col-8 pe-5">
        <p class="mb-0">I am characterized for being a person capable of working with responsibilities.
          I know how to manage my time and my work to fulfill my obligations in the best way.</p>
      </div>
    </div>
    <div class="row justify-content-center py-5">
      <div class="col-3 pe-4 text-end">
        <h1 class="display-6 mb-0">Adaptability</h1>
      </div>
      <div class="col-8 pe-5">
        <p class="mb-0">As I said before, I am a person who is open to new learnings. I have no problem
          adapting to new technologies or new work groups, I work perfectly working as a team and working alone.</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-3 pe-4 text-end">
        <h1 class="display-6 mb-0">Commitment</h1>
      </div>
      <div class="col-8 pe-5">
        <p class="mb-0">I strive so that the things I do are well done. I do not like to do things simply to
          fulfill, when I must do something I commit myself to give the best of myself to obtain amazing results.</p>
      </div>
    </div>
  </div>
</div>
<div class="bg-white w-100 sticky-1">
  <div class="container py-3">
    <h1 class="display-6 text-danger text-center py-5">Looking for my education? Here you have</h1>
    <h1 class="display-6 pt-3">Primary education</h1>
    <p class="fst-italic">Finished in 2007 in I.E. Policarpa Salavarrieta in Dosquebradas, Risaralda, Colombia.</p>
  </div>
</div>
<div class="bg-red-1 w-100 sticky-2">
  <div class="container py-3">
    <h1 class="display-6">Secondary education</h1>
    <p class="fst-italic">Finished in 2013 in I.E. INEM “Felipe Pérez” in Pereira, Risaralda, Colombia.</p>
  </div>
</div>
<div class="bg-red-2 w-100 sticky-3">
  <div class="container py-3">
    <h1 class="display-6">Computing Technician</h1>
    <p class="fst-italic">Finished in 2013 in National Learning Service SENA in Pereira, Risaralda, Colombia.</p>
  </div>
</div>
<div class="bg-red w-100 sticky-4">
  <div class="container py-3">
    <h1 class="display-6">Computing Engineer</h1>
    <p class="fst-italic">Finished in 2019 in Technological University of Pereira, Risaralda, Colombia.</p>
  </div>
</div>
