<div class="fade-in blurred mt-4 pt-2 pt-md-0 mt-md-5">
  <div class="container">
    <section class="px-3 pb-md-2 pb-0">
      <h1 class="pb-2">Front-end Development</h1>
      <h5 class="fw-light pt-4">
        I am a experienced front-end developer with a
        <b class="hoverable">deep understanding</b> of how the web works.
        <a
          href="https://angular.io"
          class="hoverable underlined"
          target="_blank"
          ><b>Angular</b></a
        >
        is my primary web development framework, and I use it daily to build
        <b class="hoverable">complex and scalable applications.</b>
      </h5>
      <h5 class="fw-light pt-3">
        This web portfolio was made in <b class="hoverable">Angular v16</b> and
        I made use of a few JavaScript libraries to achieve some interesting
        stuff
      </h5>
    </section>
    <div class="cards-wrapper mt-4 mx-2 mx-sm-3">
      <div class="info-card col-12 col-md">
        <h6 class="fw-light">
          I used
          <a href="https://getbootstrap.com/" target="_blank"
            ><b class="hoverable underlined">Bootstrap's</b></a
          >
          grid system, along with its padding, marging and icons utilities.
        </h6>
      </div>
      <div class="info-card col-12 col-md">
        <h6 class="fw-light">
          The contact form was build with the
          <a href="https://angular.io/guide/reactive-forms" target="_blank"
            ><b class="hoverable underlined">Reactive Forms</b></a
          >
          API along the
          <a href="https://material.angular.io/" target="_blank"
            ><b class="hoverable underlined">Material</b></a
          >
          input components.
        </h6>
      </div>
      <div class="info-card col-12 col-md">
        <h6 class="fw-light">
          That cool background transition animations were developed with the
          <a href="https://gsap.com/" target="_blank"
            ><b class="hoverable underlined">GSAP</b></a
          >
          animation library.
        </h6>
      </div>
      <div class="info-card col-12 col-md-4">
        <h6 class="fw-light">
          <a href="https://threejs.org/" target="_blank"
            ><b class="hoverable underlined">Three.Js</b></a
          >
          was used to build the 3D live motion galaxy background through WebGL
          rendering among other cool things like this:
        </h6>
        <div class="check-wrapper">
          <mat-icon svgIcon="click-here"> </mat-icon>
          <mat-checkbox
            class="hoverable"
            (change)="onCheckboxChange($event)"
          ></mat-checkbox>
        </div>
      </div>
    </div>
    <section class="px-3 pt-4 d-flex align-items-center">
      <a
        class="hoverable btn btn-outline me-3 d-none d-md-block"
        href="https://github.com/Magoratogha/web-portfolio"
        target="_blank"
        (click)="logEvent('FESourceButton')"
        ><i class="bi bi-github me-1"></i>Source</a
      >
      <div>
        <h6 class="fw-light">
          Here you can find the sources for this portfolio. Feel free to fork
          the repo but
          <b class="hoverable"
            >remember giving me the correspoding attribution.</b
          >
        </h6>
        <a
          class="hoverable btn btn-outline my-3 d-block d-md-none"
          href="https://github.com/Magoratogha/web-portfolio"
          target="_blank"
          (click)="logEvent('FESourceButton')"
          ><i class="bi bi-github me-1"></i>Source</a
        >
        <small class="fw-light">
          Please note that
          <b class="hoverable"
            >I did not build this site for being a starter template,</b
          >
          so if you have questions about implementation please
          <b class="hoverable"
            >review the corresponding library documentation.</b
          >
        </small>
      </div>
    </section>
  </div>
</div>
<div class="container fade-in icons-wrapper">
  <a href="https://angular.io" class="hoverable" target="_blank">
    <mat-icon
      scrollAnimation
      [inAnimationData]="{
        name: 'svg-colored',
        delay: 0,
        params: ['#dd0031', 'svg-colored']
      }"
      [outAnimationData]="{
        name: 'svg-colored',
        delay: 0,
        params: ['currentColor', null, 'svg-colored']
      }"
      svgIcon="angular"
    ></mat-icon>
  </a>
  <a href="https://www.typescriptlang.org" class="hoverable" target="_blank">
    <mat-icon
      scrollAnimation
      [inAnimationData]="{
        name: 'svg-colored',
        delay: 0,
        params: ['#3178c6', 'svg-colored']
      }"
      [outAnimationData]="{
        name: 'svg-colored',
        delay: 0,
        params: ['currentColor', null, 'svg-colored']
      }"
      svgIcon="ts"
    ></mat-icon>
  </a>
  <a
    href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
    class="hoverable"
    target="_blank"
  >
    <mat-icon
      scrollAnimation
      [inAnimationData]="{
        name: 'svg-colored',
        delay: 0,
        params: ['#ebd41c', 'svg-colored']
      }"
      [outAnimationData]="{
        name: 'svg-colored',
        delay: 0,
        params: ['currentColor', null, 'svg-colored']
      }"
      svgIcon="js"
    ></mat-icon>
  </a>
  <a href="https://threejs.org/" class="hoverable" target="_blank">
    <mat-icon svgIcon="three-js"></mat-icon>
  </a>
  <a
    href="https://developer.mozilla.org/en-US/docs/Web/HTML"
    class="hoverable"
    target="_blank"
  >
    <mat-icon
      scrollAnimation
      [inAnimationData]="{
        name: 'svg-colored',
        delay: 0,
        params: ['#eb6328', 'svg-colored']
      }"
      [outAnimationData]="{
        name: 'svg-colored',
        delay: 0,
        params: ['currentColor', null, 'svg-colored']
      }"
      svgIcon="html"
    ></mat-icon>
  </a>
  <a
    href="https://developer.mozilla.org/en-US/docs/Web/CSS"
    class="hoverable"
    target="_blank"
  >
    <mat-icon
      scrollAnimation
      [inAnimationData]="{
        name: 'svg-colored',
        delay: 0,
        params: ['#2D6CBF', 'svg-colored']
      }"
      [outAnimationData]="{
        name: 'svg-colored',
        delay: 0,
        params: ['currentColor', null, 'svg-colored']
      }"
      svgIcon="css"
    ></mat-icon>
  </a>
  <a href="https://rxjs.dev" class="hoverable" target="_blank">
    <mat-icon
      scrollAnimation
      [inAnimationData]="{
        name: 'svg-colored',
        delay: 0,
        params: ['currentColor', 'svg-colored-rxjs', 'svg-colored-rxjs-initial']
      }"
      [outAnimationData]="{
        name: 'svg-colored',
        delay: 0,
        params: ['currentColor', 'svg-colored-rxjs-initial', 'svg-colored-rxjs']
      }"
      svgIcon="rxjs"
    ></mat-icon>
  </a>
  <a href="https://getbootstrap.com" class="hoverable" target="_blank">
    <mat-icon
      scrollAnimation
      [inAnimationData]="{
        name: 'svg-colored',
        delay: 0,
        params: ['#7852b2', 'svg-colored']
      }"
      [outAnimationData]="{
        name: 'svg-colored',
        delay: 0,
        params: ['currentColor', null, 'svg-colored']
      }"
      svgIcon="bootstrap"
    ></mat-icon>
  </a>
  <a href="https://jasmine.github.io" class="hoverable" target="_blank">
    <mat-icon
      scrollAnimation
      [inAnimationData]="{
        name: 'svg-colored',
        delay: 0,
        params: ['#9C4993', 'svg-colored']
      }"
      [outAnimationData]="{
        name: 'svg-colored',
        delay: 0,
        params: ['currentColor', null, 'svg-colored']
      }"
      svgIcon="jasmine"
    ></mat-icon>
  </a>
</div>
<div class="fade-in blurred">
  <div class="container pt-5 text-end">
    <section class="px-3 pb-md-2 pb-0">
      <h1 class="pb-2">Back-end and Desktop Development</h1>
      <h5 class="fw-light pt-4">
        Despite I am a front-end developer I've had the chance to work coding
        several back-end and desktop applications.
      </h5>
      <h5 class="fw-light pt-3">
        Throughout my career path I have acquired some knowledge in many areas
        related to software development and IT, which include
        <b class="hoverable">High performance computing (HPC), </b>
        <b class="hoverable">Artificial intelligence (AI), </b>
        <b class="hoverable">Computational statistics, </b>
        <b class="hoverable">Back-end development, </b> among others.
      </h5>
    </section>
    <section class="px-3 pt-5 d-flex align-items-center justify-content-end">
      <div>
        <h6 class="fw-light mb-0">
          <b class="hoverable">As an example of my work,</b> here are the
          sources for the
          <b class="hoverable">email sender microservice</b> used in the contact
          page. <br />
          Feel free to fork the repo but
          <b class="hoverable"
            >remember giving me the correspoding attribution.</b
          >
        </h6>
        <a
          class="hoverable btn btn-outline my-3 d-block d-md-none"
          href="https://github.com/Magoratogha/email-sender-fn"
          target="_blank"
          (click)="logEvent('BESourceButton')"
          ><i class="bi bi-github me-1"></i>Source</a
        >
      </div>
      <a
        class="hoverable btn btn-outline ms-3 d-none d-md-block"
        href="https://github.com/Magoratogha/email-sender-fn"
        target="_blank"
        (click)="logEvent('BESourceButton')"
        ><i class="bi bi-github me-1"></i>Source</a
      >
    </section>
    <div class="cards-wrapper mt-4 mx-2 mx-sm-3">
      <div class="info-card justify-content-end col-12 col-md">
        <h6 class="fw-light">
          The code was built in
          <a href="https://nodejs.org/en" target="_blank"
            ><b class="hoverable underlined">NodeJS</b></a
          >
          and wrote in
          <a href="https://www.typescriptlang.org/" target="_blank"
            ><b class="hoverable underlined">TypeScript.</b></a
          >
        </h6>
      </div>
      <div class="info-card justify-content-end col-12 col-md">
        <h6 class="fw-light">
          <a href="https://github.com/expressjs/cors" target="_blank"
            ><b class="hoverable underlined">Cors</b></a
          >
          and
          <a href="https://nodemailer.com/" target="_blank"
            ><b class="hoverable underlined"> Nodemailer</b></a
          >
          libraries were used to implement CORS policies and the mail sending
          feature respectively.
        </h6>
      </div>
      <div class="info-card justify-content-end col-12 col-md">
        <h6 class="fw-light">
          It was coded as a Firebase
          <a href="https://firebase.google.com/docs/functions" target="_blank"
            ><b class="hoverable underlined">Cloud function</b></a
          >
          in order to achiveve a serverless microservice.
        </h6>
      </div>
      <div class="info-card justify-content-end col-12 col-md">
        <h6 class="fw-light">
          Also I made use of Firebase
          <a
            href="https://cloud.google.com/functions/docs/configuring/secrets"
            target="_blank"
            ><b class="hoverable underlined">Secret Manager</b></a
          >
          to securely the mail credentials along other sensitive information.
        </h6>
      </div>
    </div>
  </div>
</div>
<div class="container fade-in icons-wrapper">
  <a href="https://nodejs.org/en" class="hoverable" target="_blank">
    <mat-icon
      scrollAnimation
      [inAnimationData]="{
        name: 'svg-colored',
        delay: 0,
        params: ['#339933', 'svg-colored']
      }"
      [outAnimationData]="{
        name: 'svg-colored',
        delay: 0,
        params: ['currentColor', null, 'svg-colored']
      }"
      svgIcon="node-js"
    ></mat-icon>
  </a>
  <a href="https://www.typescriptlang.org" class="hoverable" target="_blank">
    <mat-icon
      scrollAnimation
      [inAnimationData]="{
        name: 'svg-colored',
        delay: 0,
        params: ['#3178c6', 'svg-colored']
      }"
      [outAnimationData]="{
        name: 'svg-colored',
        delay: 0,
        params: ['currentColor', null, 'svg-colored']
      }"
      svgIcon="ts"
    ></mat-icon>
  </a>
  <a href="https://git-scm.com/" class="hoverable" target="_blank">
    <mat-icon
      scrollAnimation
      [inAnimationData]="{
        name: 'svg-colored',
        delay: 0,
        params: ['#f1502f', 'svg-colored']
      }"
      [outAnimationData]="{
        name: 'svg-colored',
        delay: 0,
        params: ['currentColor', null, 'svg-colored']
      }"
      svgIcon="git"
    ></mat-icon>
  </a>
  <a
    href="https://learn.microsoft.com/en-us/cpp/cpp/?view=msvc-170"
    class="hoverable"
    target="_blank"
  >
    <mat-icon
      scrollAnimation
      [inAnimationData]="{
        name: 'svg-colored',
        delay: 0,
        params: ['#5e97d0', 'svg-colored']
      }"
      [outAnimationData]="{
        name: 'svg-colored',
        delay: 0,
        params: ['currentColor', null, 'svg-colored']
      }"
      svgIcon="c++"
    ></mat-icon>
  </a>
  <a href="https://firebase.google.com/" class="hoverable" target="_blank">
    <mat-icon
      scrollAnimation
      [inAnimationData]="{
        name: 'svg-colored',
        delay: 0,
        params: ['#ffa000', 'svg-colored']
      }"
      [outAnimationData]="{
        name: 'svg-colored',
        delay: 0,
        params: ['currentColor', null, 'svg-colored']
      }"
      svgIcon="firebase"
    ></mat-icon>
  </a>
  <a href="https://www.docker.com/" class="hoverable" target="_blank">
    <mat-icon
      scrollAnimation
      [inAnimationData]="{
        name: 'svg-colored',
        delay: 0,
        params: ['#0db7ed', 'svg-colored']
      }"
      [outAnimationData]="{
        name: 'svg-colored',
        delay: 0,
        params: ['currentColor', null, 'svg-colored']
      }"
      svgIcon="docker"
    ></mat-icon>
  </a>
  <a href="https://aws.amazon.com/" class="hoverable" target="_blank">
    <mat-icon
      scrollAnimation
      [inAnimationData]="{
        name: 'svg-colored',
        delay: 0,
        params: ['#ff9900', 'svg-colored']
      }"
      [outAnimationData]="{
        name: 'svg-colored',
        delay: 0,
        params: ['currentColor', null, 'svg-colored']
      }"
      svgIcon="aws"
    ></mat-icon>
  </a>
</div>
<div class="fade-in blurred">
  <div class="container pt-5">
    <section class="px-3 pb-5">
      <h1 class="pb-2">DevOps</h1>
      <h5 class="fw-light pt-4">
        As a complement of my software development acknoledge I also had the
        opportunity of work as a <b class="hoverable">DevOps analyst</b> on
        cloud-mounted infrastructures on
        <b class="hoverable">Google Firebase, IBM OpenShift</b> and
        <b class="hoverable">AWS.</b>
      </h5>
      <h5 class="fw-light pt-3">
        I have strong bases in different DevOps practices such as:
        <b class="hoverable"
          >Configuration Management (CM), Continuous Integration (CI),
          Continuous Testing (CT), Continuous Delivery/Deployment (CD)</b
        >
        and
        <b class="hoverable">Release Management (RM).</b>
      </h5>
      <h5 class="fw-light pt-3">
        And thanks to that I have had the chance to work with several DevOps
        technologies like
        <b class="hoverable"
          >Microsoft Azure Devops, Google Firebase Suite, Docker, AWS,
          Kubernetes, SonarQube, Fluid Attacks, Hygueia, GitHub Pages,</b
        >
        among others.
      </h5>
    </section>
  </div>
</div>
