@import "../../../styles/variables.scss";

.cards-wrapper {
  display: flex;
  flex-direction: column;
  background-color: $dark-timeline-color-3;
  @media (min-width: 768px) {
    flex-direction: row;
  }
  &:first-of-type {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
  &:last-of-type {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  position: relative;
  .info-card {
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    @media (min-width: 768px) and (max-width: 992px) {
      justify-content: center;
      gap: 1.5rem;
      flex-direction: column;
    }
    &:not(:last-child):after {
      content: "";
      display: block;
      position: absolute;
      top: auto;
      bottom: 0;
      right: 1rem;
      left: 1rem;
      width: auto;
      height: 2px;
      background-color: currentColor;
      opacity: 0.25;
      @media (min-width: 768px) {
        content: "";
        display: block;
        position: absolute;
        top: 1rem;
        bottom: 1rem;
        right: 0;
        left: auto;
        width: 2px;
        height: auto;
        background-color: currentColor;
        opacity: 0.25;
      }
    }
    * {
      margin-bottom: 0;
    }
    .check-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      mat-icon {
        min-width: 6rem;
        width: 6rem;
        min-height: 6rem;
        height: 6rem;
      }
      mat-checkbox {
        margin-top: 1.6rem;
        position: absolute;
      }
    }
  }
  hr {
    border-left: 2px solid;
  }
}
a {
  white-space: nowrap !important;
}

small {
  display: block;
  line-height: 1rem;
}

.underlined {
  color: currentColor;
}
