<div [@inEaseIn] class="floating-button-wrapper">
  <div
    *ngIf="isExpanded"
    class="vertical-container"
    [@verticalStagger]="isExpanded"
  >
    <button
      *ngFor="let section of sections"
      mat-fab
      extended
      (click)="scrollToSection(section.sectionNumber)"
    >
      <mat-icon
        [svgIcon]="
          section.iconName +
          (currentSection === section.sectionNumber ? '-bold' : '')
        "
      ></mat-icon>
      <span [@smallToBold]="currentSection === section.sectionNumber">{{
        section.label
      }}</span>
    </button>
  </div>
  <div class="horizontal-container">
    <button mat-fab (click)="isExpanded = !isExpanded">
      <mat-icon
        [@iconChange]="getSectionIconClass()"
        [svgIcon]="getSectionIconClass(true)"
      ></mat-icon>
    </button>
    <div
      class="horizontal-container"
      [@horizontalStagger]="isExpanded"
      *ngIf="isExpanded"
    >
      <a
        *ngFor="let link of links"
        mat-mini-fab
        [href]="link.url"
        target="_blank"
        rel="noreferrer"
      >
        <mat-icon [svgIcon]="link.iconName"></mat-icon>
      </a>
    </div>
  </div>
</div>

<div
  id="fab-dismiss"
  *ngIf="isExpanded"
  (click)="isExpanded = !isExpanded"
></div>
