<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark-blue"
  [@inOutAnimation]="currentSection >= 1">
  <div class="container-fluid">
    <button #headerToggler class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link clickable" (click)="scrollToSection(0)">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link clickable" [ngClass]="{ 'active' : this.currentSection == 1 }"
             (click)="scrollToSection(1)">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link clickable" [ngClass]="{ 'active' : this.currentSection == 2 }"
             (click)="scrollToSection(2)">My skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link clickable" [ngClass]="{ 'active' : this.currentSection == 3 }"
             (click)="scrollToSection(3)">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
