.container {
  min-height: 100dvh;
}

.form-shadow {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
  height: 80dvh;
  background-color: rgba(13, 13, 13, 0.4);
  clip-path: polygon(
    100% 23%,
    90% 25%,
    63% 42%,
    24% 47%,
    0 59%,
    0 100%,
    100% 100%
  );
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }
  @media (max-width: 768px) {
    clip-path: polygon(100% 28%, 60% 33%, 30% 32%, 0 36%, 0 100%, 100% 100%);
  }
}

.content-wrapper {
  min-height: calc(60dvh - 5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
  min-height: 40dvh;
}

button.submit-button {
  padding: 0;
  margin: 0;
  color: inherit;
  background-color: transparent;
  border: none;
  mat-icon {
    width: 40px;
    height: 40px;
    font-size: 40px;
  }
  &[disabled],
  &:disabled {
    color: #ffffff61;
    mat-icon {
      font-family: "Material Icons Outlined";
    }
  }
}
