@import "../../../styles/variables.scss";

.container {
  min-height: 100dvh;
}

.form-shadow {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
  height: 50vh;
  background-color: $dark-shadow-color;
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }

  @media (max-width: 768px) {
    height: 55vh;
  }

  @media (max-width: 576px) {
    height: 62vh;
  }
}

.contact-content-wrapper {
  min-height: calc(100dvh - 5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  h2 {
    font-weight: 300 !important;
    &::before,
    &::after {
      display: inline-block;
      content: "";
      border-top: 1px solid $light-main-color;
      width: 10dvw;
      margin: 0 0.5rem;
      transform: translateY(-0.5rem);
    }
  }
}

button.submit-button {
  padding: 0;
  margin: 0;
  color: inherit;
  background-color: transparent;
  border: none;
  mat-icon {
    width: 48px;
    height: 48px;
    font-size: 48px;
  }
  &[disabled],
  &:disabled {
    color: $dark-disabled-color;
    mat-icon {
      font-family: "Material Icons Outlined";
    }
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.mobile-submit-button {
  align-self: center;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 4px 10px;
  width: 100%;
  border-radius: 4px;
  margin: 0.25rem 0 0 0;
  font-size: 18px;
  color: $dark-darkest-color;
  background-color: transparent;
  border: 1px solid $light-lightest-color;
  background-color: $light-lightest-color;
  display: none;
  &[disabled],
  &:disabled {
    background-color: transparent;
    color: $dark-disabled-color;
    border-color: $dark-disabled-color;
    mat-icon {
      font-family: "Material Icons Outlined";
    }
  }
  @media (max-width: 768px) {
    display: flex;
  }
}

.loader-icon {
  font-size: 40px;
  width: 40px;
  height: 40px;
  &.green {
    color: $success-color;
  }
  &.red {
    color: $warn-color;
  }
}

.btn-group,
.btn-group-vertical {
  a {
    border-color: $light-main-color;
    color: $light-main-color;
    &:hover {
      color: $light-lightest-color !important;
    }
    &.github:hover {
      border-color: #6cc644 !important;
      background-color: #6cc644;
    }
    &.linkedin:hover {
      border-color: #0077b5 !important;
      background-color: #0077b5;
    }
    &.facebook:hover {
      border-color: #3b5998 !important;
      background-color: #3b5998;
    }
    &.instagram:hover {
      border-color: transparent !important;
      border-left-color: #ff7a00 !important;
      border-right-color: #d300c5 !important;
      background-image: linear-gradient(
        72.44deg,
        #ff7a00 11.92%,
        #ff0169 51.56%,
        #d300c5 85.69%
      );
    }
  }
}
