<div class="container fade-in">
  <h4 class="display-6 mb-0 fw-light">Hi, my name is</h4>
  <h1 class="display-3 mb-0 fw-light hoverable">
    <b>Santiago Gómez</b>
  </h1>
  <h2 class="display-4 fw-light">
    I build <b class="hoverable">amazing things</b> for
    <b class="hoverable">the web</b>
  </h2>
  <div class="links-wrapper mt-5">
    <a class="underlined hoverable" [routerLink]="['/' + ABOUT_ROUTE]"
      ><span class="link-arrow"></span>More about me</a
    >
    <a class="underlined hoverable" [routerLink]="['/' + SKILLS_ROUTE]"
      ><span class="link-arrow"></span>Chek out what I can do</a
    >
  </div>
</div>
