<div class="wrapper">
  <div
    [id]="section.hastag"
    *ngFor="let section of timeLineData"
    class="section"
  >
    <div class="title">
      <h5 class="fw-light" [innerHTML]="section.title"></h5>
    </div>
    <section *ngFor="let item of section.subItems" class="item">
      <div class="mx-3 py-1">
        <h6 class="mb-0 text-start" [innerHTML]="item.title"></h6>
        <small class="text-start" [innerHTML]="item.timePeriod"></small>
        <p class="mt-2 text-start" [innerHTML]="item.description"></p>
        <div class="skills-wrapper mb-4">
          <div *ngFor="let skill of item.skills" class="skill-badge hoverable">
            <small>{{ skill }}</small>
          </div>
        </div>
        <hr />
      </div>
    </section>
  </div>
</div>
<a
  class="hoverable btn btn-outline w-100 mt-5 d-md-none"
  href="../../../assets/pdf/resume-santiago-gomez.pdf"
  target="_blank"
  >View full resume</a
>
