.wrapper {
  margin-top: 2rem;
  position: relative;
  .section {
    padding-top: 1rem;
    padding-bottom: 3rem;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 2px;
      background-color: #646464;
    }
    .title {
      padding-bottom: 1rem;
      margin-left: 2rem;
      &:before {
        content: "";
        display: block;
        position: relative;
        width: 1.5rem;
        height: 2px;
        background-color: #646464;
        left: -2rem;
        top: calc(((1.3rem + 0.6vw) / 2) + 2px);
      }
      @media screen and (max-width: 768px) {
        text-align: start;
      }
    }
    .item {
      width: calc(50dvw - 8rem);
      max-width: 600px;
      height: 200px;
      border: 2px solid white;
      border-radius: 5px;
      margin: 0 0 3rem 2rem;
      @media screen and (max-width: 768px) {
        width: calc(100dvw - 5rem);
      }
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        width: calc(50dvw - 6rem);
      }
      @media screen and (max-width: 1024px) {
        margin: 0 0 3rem 1.5rem;
      }
      &:before {
        content: "";
        display: block;
        position: relative;
        width: 18px;
        height: 18px;
        background-color: #0d0d0d;
        border: 2px solid white;
        border-radius: 50%;
        left: calc(-2rem - 10px);
        top: 1rem;
        @media screen and (max-width: 768px) {
          left: calc(-1.5rem - 10px);
        }
      }
      &:after {
        content: "";
        display: block;
        position: relative;
        width: calc(2rem - 10px);
        height: 2px;
        background-color: #646464;
        left: calc(-2rem + 8px);
        top: calc(0.5rem - 2px);
        @media screen and (max-width: 768px) {
          width: calc(1.5rem - 10px);
          left: calc(-1.5rem + 8px);
        }
      }
    }
  }
}
