@import "../../../../../styles/variables.scss";

header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 20vw;
  font-size: 18px;
  font-weight: 600;
  z-index: 2;
  ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
    margin: 0;
    padding: 0;
    li {
      text-align: center;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    padding: 1.5rem 10vw;
  }
  @media (max-width: 768px) {
    padding: 1.5rem 2rem;
    ul {
      gap: 1.5rem;
    }
  }
  @media (max-width: 500px) {
    padding: 1.5rem 1rem;
    justify-content: center;
    .contact-wrapper a {
      margin-left: 1.5rem;
    }
  }
  .contact-wrapper {
    display: flex;
    align-items: center;
    a:not(:last-child) {
      color: $light-darkest-color;
      margin-right: 0.75rem;
    }
    a:last-child {
      margin-right: 0;
    }
    .spacer {
      width: 1px;
      height: 1.5rem;
      background-color: $light-darkest-color;
      display: inline-block;
      margin-right: 1.75rem;
      margin-left: 1rem;
    }
  }
}

.header-shadow {
  box-shadow: $dark-main-color 0px 160px 65px -70px inset;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  z-index: 1;
}

.underlined {
  &:before {
    bottom: -4px;
  }

  &.active:before {
    bottom: -4px;
  }
}
