$dark-main-color: #0d0d0d;
$dark-darkest-color: black;
$dark-lightest-color: #3f3f3f;
$dark-toggle-button-shadow: rgba(255, 255, 255, 0.5) 0 0 15px;
$dark-cursor-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.6);
$dark-disabled-color: #ffffff61;
$dark-shadow-color: rgba(13, 13, 13, 0.4);
$dark-secondary-primary-color: #5f7d88;

$light-main-color: #f2f2f2;
$light-darkest-color: #c0c0c0;
$light-lightest-color: white;
$light-toggle-button-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
$light-cursor-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
$light-disabled-color: #00000061;
$light-shadow-color: rgba(242, 242, 242, 0.4);
$light-secondary-primary-color: #516b75;

$loader-primary-color: #88b3c3;
$success-color: #6aa84f;
$warn-color: #ff625d;

$dark-palette: (
  50: $light-lightest-color,
  100: $light-lightest-color,
  200: $light-lightest-color,
  300: $light-lightest-color,
  400: $light-lightest-color,
  500: $light-lightest-color,
  600: $light-lightest-color,
  700: $light-lightest-color,
  800: $light-lightest-color,
  900: $light-lightest-color,
  contrast: (
    50: $dark-darkest-color,
    100: $dark-darkest-color,
    200: $dark-darkest-color,
    300: $dark-darkest-color,
    400: $dark-darkest-color,
    500: $dark-darkest-color,
    600: $dark-darkest-color,
    700: $dark-darkest-color,
    800: $dark-darkest-color,
    900: $dark-darkest-color,
  ),
);

$warn-palette: (
  50: $warn-color,
  100: $warn-color,
  200: $warn-color,
  300: $warn-color,
  400: $warn-color,
  500: $warn-color,
  600: $warn-color,
  700: $warn-color,
  800: $warn-color,
  900: $warn-color,
  contrast: (
    50: $dark-darkest-color,
    100: $dark-darkest-color,
    200: $dark-darkest-color,
    300: $dark-darkest-color,
    400: $dark-darkest-color,
    500: $dark-darkest-color,
    600: $dark-darkest-color,
    700: $dark-darkest-color,
    800: $dark-darkest-color,
    900: $dark-darkest-color,
  ),
);

$light-palette: (
  50: $dark-darkest-color,
  100: $dark-darkest-color,
  200: $dark-darkest-color,
  300: $dark-darkest-color,
  400: $dark-darkest-color,
  500: $dark-darkest-color,
  600: $dark-darkest-color,
  700: $dark-darkest-color,
  800: $dark-darkest-color,
  900: $dark-darkest-color,
  contrast: (
    50: $light-lightest-color,
    100: $light-lightest-color,
    200: $light-lightest-color,
    300: $light-lightest-color,
    400: $light-lightest-color,
    500: $light-lightest-color,
    600: $light-lightest-color,
    700: $light-lightest-color,
    800: $light-lightest-color,
    900: $light-lightest-color,
  ),
);
