@import '~@angular/material/theming';

//### Background colors: ###
$red-bg-color-1: #d9534f;
$red-bg-color-2: #f8e6e0;
$red-bg-color-3: #f5bca9;
$white-bg-color: #ffffff;
$dark-blue-bg-color: #343a40;

//### Font colors: ###
$red-font-color: #ff625d;
$white-font-color: #ffffff;
$dark-blue-font-color: #343a40;

$mat-theme-colors-scheme: (
  50: #ffffff,
  500: #bdbdbd,
  900: #424242,
  contrast: (
    50: $dark-primary-text,
    500: $dark-primary-text,
    900: $light-primary-text,
  )
);

$mat-theme-error-colors-scheme: (
  50: $red-font-color,
  500: $red-font-color,
  900: $red-font-color,
  contrast: (
    50: $dark-primary-text,
    500: $dark-primary-text,
    900: $light-primary-text,
  )
);

//### Material theme colors and definition: ###
$webPortfolio-primary: mat-palette($mat-theme-colors-scheme, 50, 500, 900);
$webPortfolio-accent: mat-palette($mat-theme-colors-scheme, 50, 500, 900);
$webPortfolio-warn: mat-palette($mat-theme-error-colors-scheme, 50, 500, 900);
$webPortfolio-theme: mat-dark-theme((
  color:(primary: $webPortfolio-primary,
    accent: $webPortfolio-accent,
    warn: $webPortfolio-warn)));
