<canvas #bg></canvas>
<app-main-loader
  *ngIf="isLoading"
  [@leave]
  [show]="isLoading"
></app-main-loader>
<app-header [isDarkMode]="isDarkMode"></app-header>
<div #container class="container" [@routerAnimation]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
<button
  class="dark-mode-toggle hoverable"
  [ngClass]="{ light: !isDarkMode }"
  (click)="setTheme(!isDarkMode)"
>
  <mat-icon [@iconChange]="isDarkMode">{{
    isDarkMode ? "dark_mode" : "light_mode"
  }}</mat-icon>
</button>
<div *ngIf="!isTouchDevice" class="cursor"></div>
