@import "../styles/variables.scss";

canvas {
  position: fixed;
  z-index: -1;
}

.dark-mode-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  z-index: 1;
  color: $light-lightest-color;
  box-shadow: $dark-toggle-button-shadow;
  background-color: $dark-shadow-color;
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }
}
