<canvas #bg></canvas>
@if (isLoading) {
  <app-main-loader @leave [show]="isLoading"></app-main-loader>
}
<app-header></app-header>
<div
  #container
  [ngClass]="{ 'light-theme': !isDarkMode }"
  [@routerAnimation]="prepareRoute(outlet)"
  >
  <router-outlet #outlet="outlet"></router-outlet>
</div>
<button class="dark-mode-toggle hoverable" (click)="setTheme(!isDarkMode)">
  <mat-icon [@iconChange]="isDarkMode">{{
    isDarkMode ? "dark_mode" : "light_mode"
  }}</mat-icon>
</button>
@if (!IS_TOUCH_DEVICE()) {
  <div class="cursor"></div>
}
