html {
  position: relative;
}

body {
    margin: 0;
}

button,
input,
textarea,
select {
  font: inherit;
}

a,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
video,
canvas,
svg {
  max-width: 100%;
}