:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100dvh;
  @media (max-width: 768px) {
    align-items: center;
  }
}

.container {
  margin-top: 0;
  margin-bottom: 0;
  @media (max-width: 768px) {
    text-align: center;
  }
  h1 {
    display: contents;
  }
}
