<div class="text-wrapper">
  <h1 class="display-3 pb-2t">Welcome</h1>
  <h2 class="display-5 pb-5 mb-5 fw-light">
    <span>My name is <b>Santiago</b></span>
    <br />
    <span>and I'm a <b>Frontend developer</b></span>
  </h2>
</div>
<div class="scroll-down pt-5">
  <div class="scroll-down-wheel-icon">
    <div class="scroll-down-wheel-icon-inner"></div>
  </div>
  <div class="scroll-down-arrows">
    <span class="scroll-down-arrow-icon"></span>
    <span class="scroll-down-arrow-icon"></span>
    <span class="scroll-down-arrow-icon"></span>
  </div>
</div>
