@import "../../../styles/variables.scss";

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100dvh;
  @media (max-width: 768px) {
    align-items: center;
  }
}

.container {
  margin-top: 0;
  margin-bottom: 0;
  @media (max-width: 768px) {
    text-align: center;
  }
  h1 {
    display: inline-block;
  }
}

.links-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  @media (max-width: 768px) {
    align-items: center;
  }
  a {
    color: $light-lightest-color;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.link-arrow {
  display: block;
  width: 16px;
  height: 16px;
  border-top: 1px solid $light-lightest-color;
  border-left: 1px solid $light-lightest-color;
  transform: rotate(135deg);
  margin-inline: 3px 5px;
}

.link-arrow::after {
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  background-color: $light-lightest-color;
  transform: rotate(-45deg) translate(7px, 3px);
  left: 0;
  top: 0;
}
