<section class="right desktop-nav fade-in">
  <h2
    class="fw-light hoverable underlined text-center"
    [routerLink]="[ABOUT_ME_ROUTE]"
    routerLinkActive="selected display-6"
  >
    <span class="link-arrow"></span>
    ¿Who am I?
  </h2>
  <h2
    class="fw-light hoverable underlined text-center"
    [routerLink]="[ABOUT_WORK_ROUTE]"
    routerLinkActive="selected display-6"
  >
    <span class="link-arrow"></span>
    ¿Where have I worked at?
  </h2>
  <div
    class="links-wrapper mt-5 mb-3 fade-in-fast"
    [ngClass]="{ 'd-none': !showWork }"
  >
    <a
      class="underlined hoverable"
      (click)="scrollToSection('globant', 8)"
      [ngClass]="{ selected: activeTimelineSection == 'globant' }"
      ><span class="link-arrow"></span>Globant</a
    >
    <a
      class="underlined hoverable"
      (click)="scrollToSection('vcsoft', 8)"
      [ngClass]="{ selected: activeTimelineSection == 'vcsoft' }"
      ><span class="link-arrow"></span>VC@Soft</a
    >
    <a
      class="underlined hoverable"
      (click)="scrollToSection('freelance', 8)"
      [ngClass]="{ selected: activeTimelineSection == 'freelance' }"
      ><span class="link-arrow"></span>As freelancer</a
    >
  </div>
  <div
    class="d-flex mt-5 align-items-center justify-content-center fade-in-fast"
    [ngClass]="{ 'd-none': !showWork }"
  >
    <a
      class="hoverable btn btn-outline"
      href="../../../assets/pdf/resume-santiago-gomez.pdf"
      target="_blank"
      >View full resume</a
    >
  </div>
</section>
<section
  class="left fade-in blurred info-wrapper"
  [@fastRouterAnimation]="prepareRoute(outlet)"
>
  <router-outlet
    #outlet="outlet"
    (activate)="componentActivated($event)"
    (deactivate)="componentDeactivated($event)"
  ></router-outlet>
</section>
<div class="mobile-nav fade-in">
  <div>
    <p class="mb-0" routerLinkActive="selected" [routerLink]="[ABOUT_ME_ROUTE]">
      Who I am?
    </p>
    <p
      class="mb-0"
      [ngClass]="{ selected: showWork }"
      [routerLink]="[ABOUT_WORK_ROUTE]"
    >
      ¿Where have I worked at?
    </p>
  </div>
  <div class="fade-in-fast" [ngClass]="{ 'd-none': !showWork }">
    <p
      class="mb-0"
      (click)="scrollToSection('globant', 9.5)"
      [ngClass]="{ selected: activeTimelineSection == 'globant' }"
    >
      Globant
    </p>
    <p
      class="mb-0"
      (click)="scrollToSection('vcsoft', 9.5)"
      [ngClass]="{ selected: activeTimelineSection == 'vcsoft' }"
    >
      VC@Soft
    </p>
    <p
      class="mb-0"
      (click)="scrollToSection('freelance', 9.5)"
      [ngClass]="{ selected: activeTimelineSection == 'freelance' }"
    >
      As freelancer
    </p>
  </div>
</div>
