<section class="right fade-in">
  <h2
    class="fw-light hoverable text-center"
    [routerLink]="[ABOUT_ME_ROUTE]"
    routerLinkActive="selected display-6"
  >
    ¿Who am I?
  </h2>
  <h2
    class="fw-light hoverable text-center"
    [routerLink]="[ABOUT_GLOBANT_ROUTE]"
    [ngClass]="{ 'selected display-6': showWork }"
  >
    ¿Where have I worked at?
  </h2>
  <div
    class="links-wrapper mt-5 fade-in-fast"
    [ngClass]="{ 'd-none': !showWork }"
  >
    <a
      class="underlined hoverable"
      [routerLink]="[ABOUT_GLOBANT_ROUTE]"
      routerLinkActive="selected"
      ><span class="link-arrow"></span>Globant</a
    >
    <a
      class="underlined hoverable"
      [routerLink]="[ABOUT_VCSOFT_ROUTE]"
      routerLinkActive="selected"
      ><span class="link-arrow"></span>VC@Soft</a
    >
    <a
      class="underlined hoverable"
      [routerLink]="[ABOUT_FREELANCE_ROUTE]"
      routerLinkActive="selected"
      ><span class="link-arrow"></span>As freelancer</a
    >
  </div>
</section>
<section
  class="left fade-in blurred"
  [@fastRouterAnimation]="prepareRoute(outlet)"
>
  <router-outlet #outlet="outlet"></router-outlet>
</section>
