@import "../../../styles/variables.scss";

:host {
  display: flex;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

section {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  width: 50%;
  @media (max-width: 992px) {
    padding-inline: 3rem;
  }
  @media (max-width: 768px) {
    width: 100%;
    min-height: calc(100dvh - 6.5rem);
    padding: 0 3rem;
    position: absolute;
    top: 6.5rem;
    text-align: center;
  }
  &.right {
    position: fixed;
  }
  &.left {
    margin-left: 50%;
    @media (max-width: 768px) {
      margin-left: 0;
    }
  }
}

.selected {
  color: $light-lightest-color;
  font-weight: bolder !important;
}

.desktop-nav {
  display: none;
  @media (min-width: 768px) {
    display: flex;
  }
}

.mobile-nav {
  display: none;
  position: fixed;
  width: 100%;
  height: 100px;
  height: 4.3rem;
  top: 4rem;
  z-index: 2;
  @media (max-width: 768px) {
    display: block;
  }
  div:first-child {
    font-size: 18px;
    height: 2.5rem;
    background-color: $dark-mid-color;
  }
  div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 16px;
    color: $light-darkest-color;
    background-color: $dark-lightest-color;
    height: 1.8rem;
    p {
      transition: font-weight 100ms linear;
    }
  }
}

.info-wrapper {
  padding-top: 1rem;
  padding-bottom: 3rem;
  @media (min-width: 768px) {
    padding-top: 6rem;
  }
}
