<div class="viewport-container bg-dark-blue sticky">
  <div class="container text-center">
    <h1 class="display-5">My skills and experience</h1>
  </div>
</div>
<div #componentContainer class="viewport-container bg-white sticky-up">
  <div class="container">
    <div class="row pt-2">
      <div class="col-12 pt-5">
        <h1 class="display-4 text-danger text-center text-lg-start">As a software developer</h1>
      </div>
      <div class="col-12 py-5 text-center text-lg-start">
        <h1 class="display-5 pb-3">FrontEnd skills</h1>
        <p>My main role in software development is to be a FrontEnd developer. I have {{ workingExperienceAges }}+ years
          of experience building web applications that run on the client side.</p>
        <p>I use angular as my daily main web framework and I have extensive knowledge and understanding of how it works.
          I know how to work under a model of modules and components, I understand and master the reactive programming
          approach with the use of observables, promises, subscriptions among other RxJS's operators.</p>
        <p>I have strong bases in the use of most of Angular components such as: CLI, change detection, pipes, directives,
          services, components, modules, models, lifecycle hooks, reactive forms, routing and navigation, lazy loading,
          animations, http client's request, request interceptors, inputs, outputs, eventEmitters, renderer2, viewChild,
          ElementRef, hostListeners, guards, dynamic component loadings, testing (with karma and jasmine), etc.</p>
        <p>In addition to Angular, I have excellent skills, knowledge and I have had the opportunity to work in tools
          and technologies such as: ReactJS, JavaScript, TypeScript, HTML, CSS/SCSS, bootstrap, Angular Material, Angular
          FlexLayout, FontAwesome, Mapbox, Zeplin, Invision, Figma, among others.</p>
        <h1 class="display-3 pt-3">
          <i class="fab mx-3 fa-angular" scrollAnimation
            [inAnimationData]="{ name: 'colored', delay: 0, params: ['#dd0031']}"
            [outAnimationData]="{ name: 'colored', delay: 280, params: ['#343a40']}"></i>
          <i class="fab mx-3 fa-js" scrollAnimation
            [inAnimationData]="{ name: 'colored', delay: 40, params: ['#cfb435']}"
            [outAnimationData]="{ name: 'colored', delay: 240, params: ['#343a40']}"></i>
          <i class="fab mx-3 fa-html5" scrollAnimation
            [inAnimationData]="{ name: 'colored', delay: 80, params: ['#e44d27']}"
            [outAnimationData]="{ name: 'colored', delay: 200, params: ['#343a40']}"></i>
          <i class="fab mx-3 fa-css3-alt" scrollAnimation
            [inAnimationData]="{ name: 'colored', delay: 120, params: ['#275ea7']}"
            [outAnimationData]="{ name: 'colored', delay: 160, params: ['#343a40']}"></i>
          <i class="fab mx-3 fa-react" scrollAnimation
            [inAnimationData]="{ name: 'colored', delay: 160, params: ['#61dafb']}"
            [outAnimationData]="{ name: 'colored', delay: 120, params: ['#343a40']}"></i>
          <i class="fab mx-3 fa-bootstrap" scrollAnimation
            [inAnimationData]="{ name: 'colored', delay: 200, params: ['#7852b2']}"
            [outAnimationData]="{ name: 'colored', delay: 80, params: ['#343a40']}"></i>
          <i class="fab mx-3 fa-invision" scrollAnimation
            [inAnimationData]="{ name: 'colored', delay: 240, params: ['#dc395f']}"
            [outAnimationData]="{ name: 'colored', delay: 40, params: ['#343a40']}"></i>
          <i class="fab mx-3 fa-figma" scrollAnimation
            [inAnimationData]="{ name: 'colored', delay: 280, params: ['#e95127']}"
            [outAnimationData]="{ name: 'colored', delay: 0, params: ['#343a40']}"></i>
        </h1>
      </div>
    </div>
    <div class="row pt-3 pb-5 justify-content-center">
      <div class="col-12 col-lg-9 text-center">
        <h2 class="fw-light text-danger">Here you have an example of my work:</h2>
        <h5 class="fw-light fst-italic">This web portfolio was made using Angular, Bootstrap, HTML, Typescript, SCSS,
          fontAwesome, Angular Material, etc.</h5>
      </div>
      <div class="row justify-content-center pt-4 pb-3">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-grid">
          <a href="https://github.com/Magoratogha/web-portfolio" rel="noreferrer" target="_blank" class="btn btn-outline-dark">
            <i class="bi bi-github"></i> Source Code</a>
        </div>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-12 text-center text-lg-end">
        <h1 class="display-5 pb-3">Mobile skills</h1>
        <p>Whenever I work on a web page, I take it as a mandatory task to build and design it following a responsive
          design so that it can be used on desktop devices, tablets and mobile devices. With that in mind, I have had
          the opportunity to build and work with PWAs.</p>
        <p>Leaving aside PWAs and responsive web pages, I have experience and good knowledge in building hybrid mobile
          applications for Android and iOS using the IONIC framework, making use of native device resources such as camera, internal storage,
          GPS, etc. I also I know how to make HTTP requests to API Rest servers, how to create pages and navigate between
          them passing parameters, how to use modals, tabs, toolbars, toast, customize the splash screen and the
          notification bar, promises, implement services or providers, among others.</p>
        <p>Last but not least, I have basic knowledge of Java to build native Android applications. Despite not being my
          strong suit, I know the basics in the handling of List, Grid, Card and Recycler views, tabs, toolbars, and the
          different layouts.</p>
        <h1 class="display-3 pt-3">
          <i class="fab mx-3 fa-android" scrollAnimation
            [inAnimationData]="{ name: 'colored', delay: 0, params: ['#a2c436']}"
            [outAnimationData]="{ name: 'colored', delay: 160, params: ['#343a40']}"></i>
          <i class="fab mx-3 fa-java" scrollAnimation
            [inAnimationData]="{ name: 'colored', delay: 40, params: ['#5382a1']}"
            [outAnimationData]="{ name: 'colored', delay: 120, params: ['#343a40']}"></i>
          <i class="fab mx-3 fa-js" scrollAnimation
            [inAnimationData]="{ name: 'colored', delay: 80, params: ['#cfb435']}"
            [outAnimationData]="{ name: 'colored', delay: 80, params: ['#343a40']}"></i>
          <i class="fab mx-3 fa-html5" scrollAnimation
            [inAnimationData]="{ name: 'colored', delay: 120, params: ['#e44d27']}"
            [outAnimationData]="{ name: 'colored', delay: 40, params: ['#343a40']}"></i>
          <i class="fab mx-3 fa-css3-alt" scrollAnimation
            [inAnimationData]="{ name: 'colored', delay: 160, params: ['#275ea7']}"
            [outAnimationData]="{ name: 'colored', delay: 0, params: ['#343a40']}"></i>
        </h1>
      </div>
    </div>
    <div class="row pt-3 pb-5 justify-content-center">
      <div class="col-12 text-center">
        <h2 class="fw-light text-danger pb-4">Here you have an example of my work:</h2>
        <h1 class="display-6 pb-3">Meet DeliverApp</h1>
        <h5 class="fw-light fst-italic pb-3">DeliverApp was a mobile solution made in IONIC for a daily common deliveries problems.
          It was part of a project of the entrepreneurial class taught at the Universidad Tecnológica de Pereira in the
          computing engineering program.</h5>
        <h6 class="fw-light fst-italic">In deliverApp, we made use of maps libraries (Mapbox), API REST requests, device
          native resources such as storage and gps among others.</h6>
      </div>
      <div class="row justify-content-center pt-4 pb-3">
        <div class="row justify-content-center pt-4 pb-3">
          <div class="col-6 col-md-3">
            <img src="assets/images/deliver-app-1.png" (load)="onImageLoad()" class="img-fluid" alt="">
          </div>
          <div class="col-6 col-md-3 col-6">
            <img src="assets/images/deliver-app-2.png" (load)="onImageLoad()" class="img-fluid" alt="">
          </div>
          <div class="col-6 col-md-3 col-6 pt-3 pt-md-0">
            <img src="assets/images/deliver-app-3.png" (load)="onImageLoad()" class="img-fluid" alt="">
          </div>
          <div class="col-6 col-md-3 pt-3 pt-md-0">
            <img src="assets/images/deliver-app-4.png" (load)="onImageLoad()" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-12 text-center text-lg-start">
        <h1 class="display-5 pb-3">BackEnd, desktop and general skills</h1>
        <p>I have basic knowledge in NodeJS for building REST APIs that run on the server side.</p>
        <p>I have excellent bases in the use and management of code versioning using GIT, I have had the opportunity
          to work with projects stored in GitHub and Microsoft azure, getting involved and mastering the entire
          development cycle of an application, from the beginning of its coding, its integration based on pull requests,
          its certification and its deployment in a productive environment, going through pre-production environments
          such as development and release (GitFlow) or in flows built in Trunk Based Development.</p>
        <p>I have supported applications in a production environment under the standby model, I have management and
          knowledge of how to proceed in fixing an incident in a production environment through hotfix and its subsequent
          patch to pre-production environments through cherry-picks.</p>
        <p>Finally, I have had the opportunity to work on the construction of desktop applications using tools and
          technologies such as: Python, C/C++, OpenCV, Java, VHDL, CUDA, Prolog, Dr. Scheme, Google Speech API, among others.</p>
        <h1 class="display-3 pt-3">
          <i class="fab mx-3 fa-node-js" scrollAnimation
            [inAnimationData]="{ name: 'colored', delay: 0, params: ['#539e43']}"
            [outAnimationData]="{ name: 'colored', delay: 120, params: ['#343a40']}"></i>
          <i class="fab mx-3 fa-python" scrollAnimation
            [inAnimationData]="{ name: 'colored', delay: 40, params: ['#3373b2']}"
            [outAnimationData]="{ name: 'colored', delay: 80, params: ['#343a40']}"></i>
          <i class="fab mx-3 fa-git-alt" scrollAnimation
            [inAnimationData]="{ name: 'colored', delay: 80, params: ['#f1502f']}"
            [outAnimationData]="{ name: 'colored', delay: 40, params: ['#343a40']}"></i>
          <i class="fab mx-3 fa-java" scrollAnimation
            [inAnimationData]="{ name: 'colored', delay: 120, params: ['#5382a1']}"
            [outAnimationData]="{ name: 'colored', delay: 0, params: ['#343a40']}"></i>
        </h1>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-12 text-center text-lg-start">
        <h1 class="display-4 pb-3 text-danger">As a DevOps mobilizer</h1>
        <p>I have worked as a DevOps mobilizer for cloud-mounted infrastructures on IBM OpenShift and AWS.</p>
        <p>I have excellent skills and strong knowledge in the different DevOps practices such as: Configuration
          Management (CM), Build pipelines, Release pipelines, Continuous Integration (CI), Continuous Testing (CT),
          Continuous Delivery/Deployment (CD), Release Management (RM); and I have had the opportunity to work with
          tools and technologies such as: Microsoft Azure Devops, Docker, AWS, Kubernetes, SonarQube, Fluid Attacks,
          Hygueia, etc.</p>
        <h1 class="display-3 pt-3 pb-3 text-lg-end">
          <i class="fab mx-3 fa-aws" scrollAnimation
            [inAnimationData]="{ name: 'colored', delay: 0, params: ['#f89400']}"
            [outAnimationData]="{ name: 'colored', delay: 80, params: ['#343a40']}"></i>
          <i class="fab mx-3 fa-docker" scrollAnimation
            [inAnimationData]="{ name: 'colored', delay: 40, params: ['#2592e5']}"
            [outAnimationData]="{ name: 'colored', delay: 40, params: ['#343a40']}"></i>
          <i class="fas mx-3 fa-cloud" scrollAnimation
            [inAnimationData]="{ name: 'colored', delay: 80, params: ['#0abbd6']}"
            [outAnimationData]="{ name: 'colored', delay: 0, params: ['#343a40']}"></i>
        </h1>
      </div>
    </div>
  </div>
</div>
