@use '@angular/material' as mat;
@import "src/styles/variables";
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();
@include mat.all-legacy-component-themes($webPortfolio-theme);

html, body {
  height: 100vh;
  scroll-behavior: smooth;
}

.viewport-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.bg-white, .bg-dark-blue, .bg-red, .bg-red-1, .bg-red-2 {
  width: 100%;
}

.bg-white, .bg-red-1, .bg-red-2 {
  color: $dark-blue-font-color;
}

.bg-red, .bg-dark-blue {
  color: $white-font-color;
}

.bg-dark-blue {
  background-color: $dark-blue-bg-color;
  .text-danger {
    color: $red-font-color !important;
  }
}

.bg-red {
  background-color: $red-bg-color-1;
}

.bg-red-1 {
  background: $red-bg-color-2;
}

.bg-red-2 {
  background: $red-bg-color-3;
}

.bg-white {
  background-color: $white-bg-color;
}

.text-success {
  color: yellowgreen !important;
}

.clickable {
  cursor: pointer;
}
