<div class="viewport-container">
  <div class="container text-center">
    <h1 [@inEaseIn] class="display-3 p-3 fw-lighter text-danger">
      Welcome to my web portfolio
    </h1>
    <h1 class="display-5 fw-lighter pb-5">
      <span [@in1300ms]>My name is <b>Santiago</b></span
      ><br />
      <span [@in1800ms]> and I'm a <b>Frontend developer</b></span>
    </h1>
    <div [@in3000ms]>
      <h2 class="fw-lighter pt-3">Scroll down to see more</h2>
      <mat-icon
        svgIcon="chevron-down"
        class="clickable"
        (click)="scrollToAboutPage()"
      ></mat-icon>
    </div>
  </div>
</div>
